*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
}
h2{
    background-color: crimson;
    color: whitesmoke;
    font-size: 50px;
    text-transform: uppercase;
}